GameDemo/Library/*
GameDemo/obj/*
GameDemo/Temp/*
GameDemo/.vs/*

GoapMaster/Library/*
GoapMaster/obj/*
GoapMaster/Temp/*
GoapMaster/.vs/*

GoapPerson/Library/*
GoapPerson/obj/*
GoapPerson/Temp/*
GoapPerson/.vs/*

GoapTest/Library/*
GoapTest/obj/*
GoapTest/Temp/*
GoapTest/.vs/*

*.csproj

*.user

*.csproj

*.sln

*.suo

*.lock

*.ide

*.ide-shm

*.ide-wal